h1 {font-weight: 800;}
h2 {font-weight: 700;}
h3 {font-weight: 600;}
p { font-weight: 500; font-size: 1rem; line-height: 1.2;}
a { text-decoration: none; color: inherit;}

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: url(assets/bg-image.png);
    background-repeat: repeat;
    background-size: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
}

.hero {
   display: flex;
   flex-direction: column;
   padding: 0.5rem 1rem;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    max-width: 800px;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0 1rem;
}

.cta {
    background-color: rgb(0, 102, 255);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
}

.special {
    background: linear-gradient(to left, rgb(0, 255, 85), rgb(0, 238, 255));
}

/*Style*/

.smooth {
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.13), 0 16px 40px rgba(0, 0, 0, 0.753);
    border: 1px solid rgba(0, 0, 0, 0.678);

}

@media (min-width: 760px) {
    .card {
        margin: 0.5rem;
        padding: 1rem;
        font-size: 1.5rem;
    }

    body {
        grid-template-columns: minmax(0, 1100px);
        justify-content: center;
    }

    .cta:hover, .cta_special:hover {
        background: none;
        background-color: rgb(0, 225, 255);
        transform: scale(0.95);
    }
}