h1 {font-weight: 800;}
h2 {font-weight: 700;}
h3 {font-weight: 600;}
p { font-weight: 500; font-size: 1rem; line-height: 1.2;}
a { text-decoration: none; color: inherit;}

:root {
  --header-h: 64px;
}

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #000;
    padding: 1rem;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0 1rem;
}

.cta {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}