h1 {font-weight: 800;}
h2 {font-weight: 700;}
h3 {font-weight: 600;}
p { font-weight: 500; font-size: 1rem; line-height: 1.2;}
a { text-decoration: none; color: inherit;}

html {
    scroll-behavior: smooth;
}

.page::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: url(assets/bg-image.png);
    background-repeat: repeat;
    background-size: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
}

.page {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
     scrollbar-width: none;
}

.hero {
   padding: 2rem 1rem;
   min-height: 100vh;
   scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: 1.5rem;
    border-radius: 16px;
    gap: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.visual {
    display: none;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0 1rem;
}

.cta {
    background-color: rgb(0, 102, 255);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    width: 100%;
    max-width: 350px;
    text-align: center;
    letter-spacing: 0.02rem;
}

.special {
    background: linear-gradient(to bottom, rgb(0, 81, 255), rgb(0, 238, 255));
}

/*Style*/

.smooth {
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.13), 0 16px 40px rgba(0, 0, 0, 0.753);
    border: 1px solid rgba(0, 0, 0, 0.678);

}

@media (min-width: 760px) {
    h1 {font-size: 2.6rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.6rem;}
    p {font-size: 1.2rem;}
    ul li {font-size: 1.2rem;}

    body {
        background-size: auto;
    }
    .hero {
        padding: 4rem 2rem;
    }

    .hero-grid {
        grid-template-columns: minmax(480px, 600px) 1fr;
        gap: 4rem;
        align-items: center;
        max-width: 12000px;
        margin: 0 auto;
    }
    .card {
        padding: 3rem;
    }

    .visual {
        display: block;
        min-height: 300px;
    }

    .cta {
        font-size: 1.4rem;
        padding: 1.2rem;
    }
    .cta:hover, .cta_special:hover {
        background: none;
        background-color: rgb(0, 225, 255);
        transform: scale(0.95);
    }
}